/* styles.css */
body {
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
  font-family: 'Arial', sans-serif;
  margin: 0;
  min-height: 100vh;
}

header {
  background-color: #708f7c;  /* Σκούρο μπλε-γκρι */
  color: white;               /* Λευκό χρώμα κειμένου */
  padding: 20px;              /* Εσωτερικό περιθώριο */
}

.content {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}